
#sivu{
	width:95%;
	min-width:50em;
	padding:10px;
	margin:0px;
	border-style:solid;
	
}
#yla{
	display:flex;
	width:100%;
	min-width:50em;
	height:20%;
	padding:0px;
	margin:0px;
}

header{

	width:100%;
	height:30%;
}
#logo{
	width:15%;
	min-width:10em;
	display:left;
	border-style:solid;
	margin:0px;
	padding:0px;
	float:left;
}
#slogan{
	width: 80%;
	min-width:15em;
	height:3.3em;
	display:right;
	border-style:solid;
	float:left;
}
#buttons {
	width:80%;
	min-width:30em;
	height:9.3em;
	border-style:solid;
	float:left;
	padding:0px;
}
/*nav{
	width:70%;
	height:60%;
	display: inline;
}*/
#runko{
	display:flex;
	height:100%;
	width:95%;
	border-style:solid;
	padding:10px;
	margin:10px;
}
#info{
	padding:20px;
}
footer{
	display:flex;
	padding:5px;
}
#pienilogo{
	float:left;
	padding:5px; 
	
}
#yhteystiedot{
	padding:5px;
	margin-top:0px;
}
.dropdownmenu li{
    float: left;
    position: relative;
    width: 20%;
    margin: 5px;
    padding: 5px;
    text-align: center;
	min-width:10%;
}
.dropdownmenu ul{
    /*background: gray;*/
    list-style: none;
    width: 60%;
	min-width:40em;

}
.dropdownmenu a{
    background: #30a6e6;
    color: white;
    display: block;
    font-weight: bold;
    font-size: 0.8em;
    font-family: sans-serif;
    padding: 20%;
    text-decoration: none;
    transition: all 0.25s ease;
}
.dropdownmenu li:hover a{
    /*background: #34495e;*/
}
#submenu{	
    visibility: hidden;
    display: grid;
    float: left;
}
li:hover ul#submenu{
    opacity: 1;
    top: 80px;
    visibility: visible;
}
